.App {
  background-color: rgb(196, 255, 209);
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 102px;
  width: 126px;
  padding-top: 2vh;
}

.title {
  font-family: "Lucida Handwriting", "Courier New", monospace;
  font-weight: bold;
  font-style: italic;
  padding-top: 5vh;
}


.summary{
  inline-size: 700px;
  overflow-wrap: break-word;
  font-family: "Tahoma", "Courier New", monospace;
  padding-top: 4vh;
}

.searchBarContainer {
  padding-top: 7vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.resultsTable {
  padding-top: 10vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
